<div class="contenedor-logos">
    <amp-img src="img/logo.png" width="200" height="200" ></amp-img>
    <amp-img src="img/live.png" width="300" height="200" ></amp-img>
</div>

<h1>Streaming Mar del Plata</h1>
<h2>Transmisiones en tiempo real.
    Recitales, conferencias de prensa, show en vivo,
    eventos políticos, sociales, empresariales, deportivos o culturales.
    Transmisión multicámara en vivo con los mas altos estándares de calidad.
</h2>

    <p>+54 9 2234 00 6806</p>
    <p>info@avecontenidos.com </p>